.container {
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  /* justify-content: start; */
  /* justify-content: center; */
  /* justify-content: end; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  justify-content: space-around; /* uses half-spaces */
  align-content: center;
  /* align-content: end; */
}
